<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>London</key>
		<integer>2643743</integer>
	</dict>
	<dict>
		<key>TelAviv</key>
		<integer>293396</integer>
	</dict>
	<dict>
		<key>NewYork</key>
		<integer>5128581</integer>
	</dict>
	<dict>
		<key>Brussels</key>
		<integer>2800866</integer>
	</dict>
	<dict>
		<key>Barcelona</key>
		<integer>3128760</integer>
	</dict>
	<dict>
		<key>Paris</key>
		<integer>2988507</integer>
	</dict>
	<dict>
		<key>Tokyo</key>
		<integer>1850147</integer>
	</dict>
	<dict>
		<key>Beijing</key>
		<integer>1816670</integer>
	</dict>
	<dict>
		<key>Sydney</key>
		<integer>2147714</integer>
	</dict>
	<dict>
		<key>BuenosAires</key>
		<integer>3432043</integer>
	</dict>
	<dict>
		<key>Miami</key>
		<integer>4164138</integer>
	</dict>
	<dict>
		<key>Vancouver</key>
		<integer>6173331</integer>
	</dict>
	<dict>
		<key>Moscow</key>
		<integer>524901</integer>
	</dict>
	<dict>
		<key>Bangkok</key>
		<integer>1609350</integer>
	</dict>
	<dict>
		<key>Johannesburg</key>
		<integer>993800</integer>
	</dict>
	<dict>
		<key>Tunis</key>
		<integer>2464470</integer>
	</dict>
	<dict>
		<key>Manila</key>
		<integer>1701668</integer>
	</dict>
</array>
</plist>
